[Unit]
Description=Peering Manager Session Polling Timer
Documentation=https://peering-manager.readthedocs.io/

[Timer]
OnCalendar=*:00:00

[Install]
WantedBy=timers.target
