[Unit]
Description=Push configuration to routers

[Service]
Type=oneshot
User=peering-manager
Group=peering-manager
WorkingDirectory=/opt/peering-manager
ExecStart=/opt/peering-manager/venv/bin/python3 manage.py configure_routers
