[Unit]
Description=Peering Manager Housekeeping Timer
Documentation=https://peering-manager.readthedocs.io/
After=network-online.target
Wants=network-online.target

[Timer]
OnCalendar=daily
AccuracySec=1h
Persistent=true

[Install]
WantedBy=multi-user.target
