[Unit]
Description=Peering Manager Push Configuration To Routers Timer
Documentation=https://peering-manager.readthedocs.io/

[Timer]
OnCalendar=*:55:00

[Install]
WantedBy=timers.target
